@import './fonts.css';
@import './zeroing.css';

body{
   font-family: Inter, Arial, sans-serif;
}
/* style all text main*/
.text{
   font-size: 17px;
   line-height: 21px;
}
/* style title */
.title{
   font-size: 32px;
   line-height: 39px;
   font-weight: 600;
}

/* style sub-title */
.sub-title{
   font-size: 20px;
   line-height: 24px;
   font-weight: 600;
}
/* style button site */
.button-site{
   flex-shrink: 0;
   cursor: pointer;
   padding: 24px 70px;
   background-color:#FF9900;
   border-radius: 10px;
   color: white;
   font-size: 26px;
   font-weight: 600;
   box-shadow: 0px 20px 59px rgba(255, 153, 0, 0.5);
}

.button-site--small{
   padding: 17px 50px;
   font-size: 20px;
}

.button-site:hover{
   background-color:#FFA724;
}

.button-site:active{
   box-shadow: 0px 20px 59px rgba(255, 153, 0, 0.5),inset 0px 0px 0px 3px rgba(0, 0, 0, 0.485);
   background-color:#e99a24;
}
/* style header */
.conteiner{
   max-width: 1780px;
   margin: 0 auto;
}
.header__conteiner{
   padding:0 20px;
   display: flex;
   flex-direction: column;   
   height: 100vh;
   min-height: 666px;
}
.header{
   color: #FFFFFF;
   background-image: url(../assets/images/header-bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-up{
   display:flex;
   padding-top: 60px;
   justify-content: space-between;
   align-items:center;
}

.header-up__logo-box{   
   display: flex;
   align-items: center;
}

.header-up__logo{
   font-size: 48px;
   font-weight: 500;
}

.header-up__logo--orange{
   color: #FF9900;
}

.header-up__logo-main{
   box-sizing: content-box;
   max-width: 463px;
   padding-left: 25px;
   font-size: 22px;
   font-weight: 300;
}

.header-up__tel{
   cursor: pointer;
   font-size: 32px;
   font-weight: 600;
}

.header-up__name{
   text-align: end;
   color: #FF9900;
   font-size: 22px;
   font-weight: 300;
}

.header-main{
   display: flex;
   flex-direction: column;
   padding-top: 109px;
   padding-bottom: 65px;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.header-main__title{
   line-height: 62px;
   font-family: Exo2, Arial, sans-serif;
   font-size: 44px;
   font-weight: bold;
   text-align: center;
}

.header-main__subtitle{
   max-width: 700px;
   line-height: 28px;
   font-size: 22px;
   text-align: center;
}

/* style section brands */
.brands{
   margin: 0 auto;
   min-height: 1000px;
   max-width: 1450px;
   padding: 100px 20px;
   display: flex;
   justify-content: center;
}

.brands__info{
   box-sizing:botder-box;
   align-self: flex-start;
   max-width: 400px;
   padding: 34px;
   border: 3px solid #FF9900;
   border-radius: 10px;
}

.brands__info-box{
   display: flex;
   align-items:center;
}

.sub-title--padding{
   padding-left: 18px;
}

.brand__subtitle{
   font-size: 17px;
   font-weight: 600;
   padding: 25px 0;
}

.brands__box{
   padding-left: 75px;;
}

.brands__box-img{
   display: flex;
   flex-direction: column;
}

.brands__slider{
   width: 100%;
   display: flex;
   flex-direction: column;
}

.brnads__conteiner{
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.brands__img{
   padding: 15px 0;
   max-width: 100px;
}

/* style section warranty */
.warranty{
   display: flex;
}
.warranty__imgBox{
   width: 50%;
   background-image: url(../assets/images/warranty.jpg);
   background-position: center;
   background-size:cover;
}

.warranty__imgBox::after{
   content: '';
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.warranty__main{
   width: 50%;
   box-sizing: border-box;
   background-color:rgba(255, 153, 0, 0.1);
   padding: 100px;
}

.warranty__box{
   padding: 45px 0;
}
.warranty__card{
   display: flex;
   padding: 15px 0;
}

.warranty__img{
   align-self:flex-start;
}
.warranty__card-text{
   box-sizing:content-box;
   max-width: 530px;
   padding-left: 20px;
   display: flex;
   flex-direction: column;
}

.warranty__btn--margin{
   margin-left: 35px;
}

/* style faq */
.faq{
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 20px;
}

.faq__boxTitle{
   padding: 100px 0 65px;
   text-align: center;
}

.faq__card{
   box-sizing:border-box;
   display: flex;
   justify-content: space-between;
   align-items:center;
   background-color: rgba(255, 153, 0, 0.05);
   border-radius: 10px;
   margin-top: 20px;
   padding: 35px 45px;
}

.faq__question{
   display: flex;
   flex-direction: column;
   
}

.faq__title{
   font-size: 24px;
   font-weight: 500;
}

.faq__button{
   transform: rotateX(200deg);
   align-self: flex-start;
   padding-left: 10px;
   cursor: pointer;
   transition: transform 0.6s linear;
}

.faq__button--active{
   transform: rotateX(0deg);
   transition: transform 0.6s linear;
}

.faq__text{
   padding: 0;
   max-height: 0px;
   opacity: 0.3;
   overflow: hidden;
   transition: max-height 0.6s ease, opacity 0.5s, padding 0.5s linear;
}

.faq__text--active{
   padding-top: 10px;
   opacity: 1;
   max-height: 200px;
}

/* style order */

.order{
   padding: 0 20px;
   max-width: 1060px;
   margin: 0 auto;
}

.order__title--center{
   padding: 200px 0 80px;
   text-align: center;
}

.order__form{
   display: flex;
}

.order__box-input{
   display: flex;
   flex-direction: column;
}

.order__label:nth-child(n+2){
   margin-top: 25px;
}
.order__label{
   display: flex;
   flex-direction: column;
   margin-top: 0px;
}

.order__input::placeholder{
   color: #D7C3A6;
}
.order__input{
   margin-top: 15px;
   padding: 17px 20px;
   font-size: 20px;
   background-color: rgba(255, 153, 0, 0.05);
   border: 1px solid #FF9900;
   border-radius: 10px;
}

.order__input--uppercase{
   text-transform: uppercase;
}

.input__relative{
   position: relative;
}
.order__error{
   display: none;
   position: absolute;
   left: 0;
   bottom: -17px;
   color: red;   
   text-align: center;
   opacity: 0.8;
}

.order__technical-task{
   margin-left: 60px;
}

.order__request{
   padding-top: 15px;
   font-size: 12px;
   color:#A89B88;
}

.order__checkbox{
   color: #5F3900;
   margin-top: 13px;
   display: flex;
   padding: 35px;
   border-radius: 13px;
   background-color: rgba(255, 153, 0, 0.05);  
}

.check-box:nth-child(n+2){
   padding-left: 40px;
}
.check-box__title{
   display: block;
   font-size: 17px;
   margin-bottom: 10px;
   
}
.check-box{
   display: flex;
   flex-direction: column;
}

.checkbox_label{
   margin-top: 15px;
}
.custom__checkbox{
   position:absolute;
   clip: rect(1px 1px 1px 1px);
   height: 1px;
   width: 1px;
   display: inline-block;
}

.custom__checkbox:checked~.checkbox__text::before{
   background-image: url(../assets/images/done.png);
}

.checkbox__text{
   font-size: 15px;
   line-height: normal;
}
.checkbox__text::before{
   content: '';
   display: inline-block;
   width: 13px;
   height: 13px;
   border: 1px solid #FF9900;
   border-radius: 4px;
   vertical-align: middle;
   margin-right: 10px;
}

.order__btn-box{
   padding-top: 52px;
   display: flex;
   align-items: center;
}

.order__personal-data{
   padding-right: 10px;
   font-size: 12px;
   color: #A89B88;
}

.footer__conteiner{
   padding: 200px 0 100px;
   display: flex;
}

.footer__map{
   width: 50%;
}
.footer__contact{
   margin-left: 100px;
}
.footer__card{
   display: flex;
   padding-top: 50px;
}

.footer__card-main{
   padding-left: 23px;
}

.footer__card-info{
   max-width: 530px;
   padding-top: 25px;
   font-size: 17px;
}

.footer__info{
   font-size: 17px;
   color: #BABABA;
   max-width: 530px;
   padding-top: 50px;
   padding-left: 43px;
}

@media (min-width: 768px) and (max-width: 1199px){
   .title{
      font-size: 28px;
      line-height: 33px;
      font-weight: 600;
   }
   .header{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   
   .header-up{
      padding: 60px 10px 0;
   }

   .header-up__logo {
   font-size: 44px;
   }

   .header-up__logo-main{
      max-width: 400px;
      font-size: 20px;
   }
   .button-site{
      font-size: 20px;
   }

   .button-site--small{
      font-size: 18px;
   }
   .header-up__tel{
      font-size: 16px;
   }
   .header-up__name{
      font-size: 17px;
   }

   .header-main__title{
      line-height: 41px;
      font-size: 28px;
   }

   .brands__conteiner{
      max-height: 228px;
   }
   .brands__box{
      padding-left: 40px;
   }
   .brands__img{
      padding: 10px 0;
      box-sizing:content-box;
      max-width: 80px;
   }

   .warranty__main{
      padding: 75px;
   }

   .warranty__imgBox{
      width: 30%;
   }

   .warranty__main{
      width: 70%;
   }

   .order__title--center{
      padding-top: 150px;

   }

   .order__box-input{
      max-width: 230px;
   }

   .order__input{
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 18px;
   }

   .order__checkbox {
      padding: 25px;
   }
   .check-box:nth-child(n+2){
      padding-left: 20px;
   }
   .footer__contact{
      margin-left: 53px;
   }
}

@media (max-width: 767px){
   .title{
      font-size: 18px;
      line-height: 21px;
   }
   .sub-title{
      font-size: 18px;
   }
   .text{
      font-size: 15px;
   }
   .header{
      background-position: unset;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .header__conteiner{
      padding: 0 15px;
   }
   .header-up{
      padding-top: 15px;
   }
   .header-up__logo{
      font-size: 32px;
   }
   .header-up__logo-main{
      font-size: 12px;
   }
   .header-up__contact{
      display: none;
   }
   .header-main{
      justify-content: space-around;
   }
   .header-main__title{
      line-height: normal;
      font-size: 18px;
   }
   .header-main__subtitle{
      display: none;
   }
   .button-site{
      font-size: 16px;
   }

   /* brands */
   .brands{
      flex-direction: column;
      padding: 100px 0;
   }
   .brands__info{
      padding: 16px;
      margin: 0 15px;
   }
   .sub-title--padding{
      padding-left: 10px;
   }

  .brands--margin{
      margin: 0 15px;
   }

   .brands__box{
      padding: 40px 0 0 0;
   }

   .brand__subtitle{
      font-size: 15px;
      padding: 20px 0;
   }
   .conteiner__slider{
      overflow: hidden;
   }
   .brands__slider{
      flex-direction: row;
      min-width: 100%;
   }

   .brands__img {
      box-sizing:content-box;
      padding: 15px;
      width: 80px;
   }
   .warranty, .faq, .order, .footer{
      display: none;
   }
}